:root{
    /* paleta de colores */
    --color1: #FB7806;
    --color4: #f2a44c;

    /* fuente */
    --fuente: "Oswald", sans-serif;
}

/* formulario */
h1{
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}

label{
    font-size: 1rem;
}

legend{
    margin-left: 15px;
    padding: 0 10px;
    background-color: var(--color4);
    border-radius: 3px;
    font-size: 0.8rem;
}

h1,label,legend{
    text-transform: uppercase;
}

form{
    width: 500px;
    margin: 3rem auto;
}

fieldset{
    margin: 0;
    padding: 0;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--color4);
}

input, label{
    display: block;
    width: 95%;
    margin: 10px auto;
}

input{
    padding: 3px;
}

/* boton */

button{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 40px;
    margin: 30px 23px;
    font-size: 1rem;
    font-family: var(--fuente);
    background-color: var(--color4);
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: var(--color1);
}

/* los botones los tengo que modificar con js cuando hay un registro */
/* idea: poner un div que los envuenla a los botones asi no reniego con sus posiciones tipo contenedor */
@media(max-width:768px){
    .encabezado{
        margin: 10rem auto 2rem auto;
    }
    button{
        height: 60px;
        font-size: 1.5rem;
    }
    input{
        padding: 8px;
    }
    form{
        width: 80%;
    }
    .contenedor-botones{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media(max-width:576px){

    input{
        padding: 10px;
    }
    .encabezado{
        margin: 5rem auto 2rem auto;
    }

    .contenedor-botones{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
